<p id="notice"><%= notice %></p>

<p>
  <strong>Is active:</strong>
  <%= @variant.is_active %>
</p>

<p>
  <strong>Price:</strong>
  <%= @variant.price %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @variant.quantity %>
</p>

<%= link_to 'Edit', edit_variant_path(@variant) %> |
<%= link_to 'Back', variants_path %>
